# MongoDB Atlas URI
MONGODB_URI=mongodb+srv://name:p@cluster0.gumfj1t.mongodb.net/?appName=Cluster84

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=name
CLOUDINARY_API_KEY=key
CLOUDINARY_API_SECRET=secreat

# Session Secret
SESSION_SECRET=a_long_random_string_for_kk_store

# Port
PORT=3000

